html {
    height: 100%;
}

body {
    /*flexbox for overall page children include header mainsection footer*/
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1.12em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .75em;
}

.mainSection {
    /*allows the main section to take up all available space pushing footer to the bottom*/
    flex: 1;
    /*flexbox for main section children include right center and left pane*/
    display: flex;
}

/*class used for layout*/
.element{
	border-color: yellow;
	border-style: solid;
	border-width: 1px;
}

/*Invisibility class*/

.invisible {
    display: none;
}

#leftPane,
#rightPane {
    flex: 1;
}

/*Center pane styling*/
#centerPane{
	flex:1;
	/*flexbox for center pane children include warrior heading gameIntro gameDirections and warriorflex */
	display: flex;
	flex-direction: column;
}

#warriorHeading {
    flex: .5;
}

#gameIntro {
    flex: .5
}

#gameDirections {
    flex: 2;
}

#warriorFlex {
    flex: 1.5;
    /*flexbox for warrior selections*/
    display: flex;
}

.warriorSelection{
	flex:1;
	overflow:hidden;
	/*flexbox for each warrior selection*/
	display: flex;
}

#warriorOnePic,
#warriorTwoPic,
#warriorThreePic,
#warriorFourPic {
    /*	width: 5em;
	flex: .5;*/
}

div .warriorPic {
    flex: 1;
}

div .warriorName {
    flex: 3;
}

#name {
    /*transform-origin: 0 0 0; */
    display: flex;
    align-items: flex-end;
    vertical-align: bottom;
    transform-origin: 0 2.5em 0;
    transform: rotate(90deg);
    white-space: nowrap;
    font-size: 2em;
    /*    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: left top;

    position: absolute;
    top: 0;
    left: 100%;
    white-space: nowrap;    
*/
}


/*flexbox for panes*/

#computerAttackPower,
#computerPowerLevel,
#computerHP,
#playerAttackPower,
#playerPowerLevel,
#playerHP {
    flex: .33;
}

#computerChoiceImage,
#playerChoiceImage {
    flex: 2;
}

.choiceArea {
    display: flex;
}
