html {
    height: 100%;
}

body {
    /*flexbox for overall page children include header mainsection footer*/
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url("../images/blueBG.png");
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1.12em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .75em;
}

.mainSection {
    /*allows the main section to take up all available space pushing footer to the bottom*/
    flex: 1;
    /*flexbox for main section children include right center and left pane*/
    display: flex;
}


/*class used for layout*/

.element {
    border-color: yellow;
    border-style: solid;
    border-width: 1px;
}

#title {
    padding: 1% 2% 1% 1%;
    text-align: right;
}


/*Invisibility class*/

.invisible {
    display: none;
}


/*Left and right pane styling*/

.choiceArea {
    display: flex;
}


/*flex 1 in relation to center pane*/

#leftPane,
#rightPane {
    flex: 1;
}

.warriorInfoBar {
    flex: 1;
    display: flex;
    flex-direction: column;
    /*display: none;*/
}

#computerAttackPower,
#computerPowerLevel,
#computerHP,
#playerAttackPower,
#playerPowerLevel,
#playerHP {
    flex: 1;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ATTHeader,
.PLHeader,
.HPHeader {
    padding: 3% 0 3% 0;
}

.ATTHeader {
    background-color: #FC4335;
}

#pAP,
#cAP {
    background-color: #FF5B4F;
}

.PLHeader {
    background-color: #5B10FC;
}

#pPL,
#cPL {
    background-color: #8247FF;
}

.HPHeader {
    background-color: #FCD50C;
}

#pHP,
#cHP {
    background-color: #FFE143;
}

.currentInfo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

#computerChoiceImage,
#playerChoiceImage {
    flex: 1;
    overflow: hidden;
}

#computerChoiceImage .warriorImg,
#playerChoiceImage .warriorImg {
    width: 100%;
    /*height: 280%*/
}


/*Center pane styling*/

#centerPane {
    flex: 2;
    /*flexbox for center pane children include warrior heading gameIntro gameboard and warriorflex */
    display: flex;
    flex-direction: column;
}

#gameIntro {
    flex: .5;
    display: flex;
    align-items: center;
    padding: 0 2% 0 2%;
    font-size: 1.2em;
    line-height: 1.4em;
}

#warriorHeading {
    flex: .5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2% 0 2%;
    font-weight: bold;
}

#gameBoard {
    flex: 2;
    display: flex;
    flex-direction: column;
}

#fightingArea {
    flex: 1;
    display: flex;
    background-image: url("../images/background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#playerFightingArea,
#computerFightingArea {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    font-weight: bold;
    color: red;
}

#buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1% 0 1% 0;
    background-color: black;
}

#warriorFlex {
    flex: 1.5;
    /*flexbox for warrior selections*/
    display: flex;
}

.warriorSelection {
    flex: 1;
    /*flexbox for each warrior selection*/
    display: flex;
    flex-direction: column;
}

.warriorPic .warriorImg {
    /*width: 98px;*/
    width: 100%;
    height: 280%
}

div .warriorPic {
    flex: 1;
    overflow: hidden;
    background-color: grey;
}

div .warriorName {
    /*flex: 1;*/
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    padding: 1% 0 2% 0;
}

.warriorHP0,
.warriorPL0,
.warriorAtt0,
.warriorHP1,
.warriorPL1,
.warriorAtt1,
.warriorHP2,
.warriorPL2,
.warriorAtt2,
.warriorHP3,
.warriorPL3,
.warriorAtt3 {
    font-size: 1.1em;
    padding: .5% 0 .5% 0;
    text-align: center;
    font-weight: bold;
}

.warriorHP0,
.warriorHP1,
.warriorHP2,
.warriorHP3 {
    background-color: #FCD50C;
}

.warriorPL0,
.warriorPL1,
.warriorPL2,
.warriorPL3 {
    background-color: #5B10FC;
}

.warriorAtt0,
.warriorAtt1,
.warriorAtt2,
.warriorAtt3 {
    background-color: #FC4335;
}

#copyright {
    text-align: center;
    padding: .5% 0 .5% 0;
}


/*-----------------------------------*/


/*button CSS*/

.myButton {
    -moz-box-shadow: -3px 2px 0px 0px #8a2a21;
    -webkit-box-shadow: -3px 2px 0px 0px #8a2a21;
    box-shadow: -3px 2px 0px 0px #8a2a21;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
    background: -moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background: -webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background: -o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background: -ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437', GradientType=0);
    background-color: #c62d1f;
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px;
    border-radius: 27px;
    border: 4px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 14px 44px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
}

.myButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
    background: -moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: -webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: -o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: -ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f', GradientType=0);
    background-color: #f24437;
}

.myButton:active {
    position: relative;
    top: 1px;
}
