html {
    height: 100%;
}

body {
    /*flexbox for overall page children include header mainsection footer*/
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1.12em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .75em;
}

.mainSection {
    /*allows the main section to take up all available space pushing footer to the bottom*/
    flex: 1;
    /*flexbox for main section children include right center and left pane*/
    display: flex;
}


/*class used for layout*/

.element {
    border-color: yellow;
    border-style: solid;
    border-width: 1px;
}

#title{
	padding: 1% 2% 1% 1%;
	text-align: right;
}

/*Invisibility class*/

.invisible {
    display: none;
}

/*Left and right pane styling*/
.choiceArea {
    display: flex;
}

/*flex 1 in relation to center pane*/
#leftPane,
#rightPane {
    flex: 1;
}

.warriorInfoBar{
	flex:1;
	display: flex;
	flex-direction: column;
	/*display: none;*/
}

#computerAttackPower,
#computerPowerLevel,
#computerHP,
#playerAttackPower,
#playerPowerLevel,
#playerHP {
    flex: 1;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    padding: 2% 0 0 0;
   	display: flex;
   	flex-direction: column;
   	justify-content: center;
}


.currentInfo{
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
}

#computerChoiceImage,
#playerChoiceImage{
    flex: 1;
    overflow: hidden;
}

#computerChoiceImage .warriorImg,
#playerChoiceImage .warriorImg{
	width: 100%;
    /*height: 280%*/
}


/*Center pane styling*/

#centerPane {
    flex: 2;
    /*flexbox for center pane children include warrior heading gameIntro gameboard and warriorflex */
    display: flex;
    flex-direction: column;
}

#gameIntro {
    flex: .5;
 	display:flex;
 	align-items: center;
 	padding: 0 2% 0 2%;
}

#warriorHeading {
    flex: .5;
    display:flex;
    align-items: center;
 	justify-content: center;
 	padding: 0 2% 0 2%;
 	font-weight: bold;
}

#gameBoard {
    flex: 2;
}

#warriorFlex {
    flex: 1.5;
    /*flexbox for warrior selections*/
    display: flex;
}

.warriorSelection {
    flex: 1;
    /*flexbox for each warrior selection*/
    display: flex;
    flex-direction: column;
}

.warriorPic .warriorImg {
    /*width: 98px;*/
    width: 100%;
    height: 280%
}

div .warriorPic {
    flex: 1;
    overflow: hidden;
    background-color: grey;
}

div .warriorName {
    /*flex: 1;*/
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    padding: 1% 0 2% 0;
}

.warriorHP0,
.warriorPL0,
.warriorAtt0,
.warriorHP1,
.warriorPL1,
.warriorAtt1,
.warriorHP2,
.warriorPL2,
.warriorAtt2,
.warriorHP3,
.warriorPL3,
.warriorAtt3 {
	font-size: 1.1em;
	padding: .5% 0 .5% 0;
	text-align: center;
}

#copyright{
	text-align: center;
}


